body{
    text-align: center;
    background-color:violet;
    font-family:Verdana;

}
.contact{
    background-color:bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.card{
    align-items: center;
}

.form{
    width: 300px;
}